.header {
  display: flex;
  gap: 24px;
  padding: 1rem 1rem;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: center;
}

.header a {
  color: var(--foreground);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .header a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
